:root {
  --primary: #676869;
  --blue: #01005B;
  --blue-d: #1C2E58;
  --light: #F9F0E5;
  --gray: #828282;
  --gray-sd: #868787;
  --gray-d: #6C6C6C;
  --gray-exd: #565656;
  --white: #fff;
  --green: #1FAD40;
  }