.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1320px;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 56px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 3%;
  padding: 0 45px;
  transition: background-color 0.3s ease-in-out;
  
  svg {
    margin-left: 15px;
  }
  
  &__primary {
    background-color: var(--blue);
    color: var(--white);

    &:hover {
      background: color-mix(in srgb, var(--blue), #000 20%);
    }
  }
}