@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProRegular.eot');
    src: local('Sofia Pro Regular'), local('SofiaProRegular'),
        url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProRegular.woff2') format('woff2'),
        url('../fonts/SofiaProRegular.woff') format('woff'),
        url('../fonts/SofiaProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProBold.eot');
    src: local('Sofia Pro Bold'), local('SofiaProBold'),
        url('../fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProBold.woff2') format('woff2'),
        url('../fonts/SofiaProBold.woff') format('woff'),
        url('../fonts/SofiaProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl Trial';
    src: url('../fonts/SuisseIntlTrial-Regular.eot');
    src: url('../fonts/SuisseIntlTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlTrial-Regular.woff2') format('woff2'),
        url('../fonts/SuisseIntlTrial-Regular.woff') format('woff'),
        url('../fonts/SuisseIntlTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
