.footer {
  padding: 83px 0;
  background: linear-gradient(to top, #F9F0E5, rgba(#F9F0E5, 0.18), transparent) 100% 530px no-repeat;
  background-position: bottom;

  @media (max-width: 991px) {
    padding: 55px 0;
  }
}

.footer-title {
  text-align: center;
  color: var(--blue);
  font-size: 32px;
  letter-spacing: 4%;
  margin-bottom: 15px;

  @media (max-width: 991px) {
    font-size: 26px;
  }
}

.footer-desc {
  line-height: 22px;
  letter-spacing: 3%;
  max-width: 590px;
  text-align: center;
  margin: 0 auto 70px;

  @media (max-width: 991px) {
    margin-bottom: 70px;
  }
}

.footer-illustration {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 676px;
  margin: 0 auto 86px;

  @media (max-width: 991px) {
    width: 318px;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 134px;
    height: 189px;
    background: linear-gradient(to top, var(--light), rgba(#F9F0E5, 0.31));
    z-index: 1;

    @media (max-width: 767px) {
      width: 67px;
      height: 95px;
    }
  }

  &::before {
    left: -69px;

    @media (max-width: 767px) {
      left: -27px;
    }
  }

  &::after {
    right: -69px;

    @media (max-width: 767px) {
      right: -27px;
    }
  }

  picture {
    position: relative;
    width: 209px;
    height: 316px;
    z-index: 2;

    @media (max-width: 991px) {
      width: 140px;
      height: 210px;
    }

    @media (max-width: 767px) {
      width: 97px;
      height: auto;
    }

    &:nth-child(2) {
      transform: scale(1.18);
      z-index: 3;
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.footer-button {
  margin-bottom: 6px;
  text-align: center;

  .button {
    padding: 0 67px;

    @media (max-width: 767px) {
      padding: 0 45px;
    }
  }
}

.ships-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  margin-bottom: 16px;

  @media (max-width: 767px) {
    display: none;
  }

  p {
    display: flex;
    align-items: center;
    font-size: 10px;
    border-right: 2px solid rgba(#C4C4C4, 0.25);
    letter-spacing: 4%;
    padding: 3px 10px 3px 0;
    margin-right: 10px;

    svg {
      margin: -2px 4px 0 0;
    }
  }

  img {
    width: 243px;
  }
}

.ships-row {
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    display: none;
  }
}

.ship-item {
  display: flex;
  align-items: center;
  padding: 10px 23px;
  border-right: 1px solid rgba(#C4C4C4, 0.4);

  &:last-child {
    border-right: none;
  }
}

.ship-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(#666, 0.1);
  margin-right: 12px;
}

.ship-text {
  font-size: 14px;
  letter-spacing: 3%;
  line-height: 20px;
  white-space: nowrap;
}