.info {
  background-color: #F0EEEF;
  padding: 39px 0 32px;

  @media (max-width: 991px) {
    padding: 55px 0;
  }
}

.section-title {
  color: var(--blue);
  margin-bottom: 20px;
  font-size: 25px;
  letter-spacing: 4%;
  text-align: center;

  @media (max-width: 991px) {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.info-row {
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 0 35px;
  }
}

.info-item {
  padding: 8px 48px 20px;
  border-right: 1px solid rgba(196, 196, 196, 0.5);
  text-align: center;

  @media (max-width: 767px) {
    border-right: none;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    padding: 16px 10px;
  }

  &:last-child {
    border-right: none;

    @media (max-width: 767px) {
      border-bottom: none;
    }
  }
}

.info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #E4E4E4;
  margin-bottom: 15px;
  color: #2A2996;
}

.info-content {
  font-weight: 600;
  font-size: 22px;
  color: var(--blue);
  letter-spacing: 2%;

  span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 3%;
    font-weight: 400;
  }
}
