.process {
  padding: 75px 0 35px;

  @media (max-width: 991px) {
    padding: 60px 0 25px;
  }

  .button-block {
    margin-top: 56px;

    @media (max-width: 991px) {
      margin-top: 0;
    }
  }
}

.process-title {
  font-size: 32px;
  letter-spacing: 4%;
  color: var(--blue);
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: 991px) {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

.process-slider {
  width: 1120px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 100%;
  }

  @media (max-width: 991px) {
    margin-bottom: 41px;
  }
}

.process-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: var(--blue);
  height: 320px;
  padding: 35px;
  background-color: #F0EEEF;
  border-radius: 8px;
  border: 1px solid #EDEDED;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #F9F0E6;
  }

  .proces-icon {
    margin-bottom: 25px;
  }

  h3 {
    font-size: 22px;
    letter-spacing: 4%;
    margin-bottom: 21px;
  }

  p {
    color: var(--primary);
    line-height: 23px;
    letter-spacing: 3%;
  }
}